

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: url("../images/vector1.png") fixed no-repeat bottom left;
	background-size:20vw 40vw;
}

.type{
	display: flex;
	justify-content: center;
	align-items: center;
	background:#07abeb;
	height:  100%;

}
.type>div{	font-style: italic;
	font-size: 3.5rem;
	color: #fff;
	background-color: #07abeb;
	padding: 1rem;
	border-radius:10px; 
	font-weight: bold;

}
.type>span{
	background-color: #70bdfe;
	padding: .7rem;
	border-radius: 10px;
	font-size: 4rem;
	color: #fff;
	font-weight: bold;

}
.type>i{
	background-color: #70bdfe;
	padding: 1rem;
	border-radius: 10px;
	color: #fff;
	font-size: 2.5rem;
}
.type>h4{
	color: #fff;
	font-size: 2.5rem;
	background-color: #70bdfe;
	padding: 1rem;
	border-radius: 10px;
	
}
.type>h2{
	background-color: #70bdfe;
	padding: 1rem;
	border-radius: 10px;
	color: 
#fff;
font-size: 3.5rem;
font-weight: bold;
}
.type>h3{
	font-size: 3.5rem;
	color:#fff;
	font-weight: bold;
	background-color: 
#61dafb;
border-radius: 10px;
padding: .2rem;
}
.navbar-brand{
	font-weight: bold;
	font-size: 1.7rem !important;
	color: #70bdfe;
}
.navbar-brand:hover{
	font-weight: bold;
	font-size: 1.7rem !important;
	color: #70bdfe;
}
.navbar{
	position: fixed;
}

.nav-link{
	color: #000;
	margin-left: 2.5rem;
	font-size: 1.2rem
}
.nav-link:hover{
	color: #70bdfe;
}
.fa-bars{
	font-size: 1.3rem;
	color: #fff !important;
}
.navbar-toggler{
	border-radius: 5px !important;
	background-color:#70bdfe !important; 
}

.navbar-toggler:hover{
	
	box-shadow: 0 0 5px  0 rgb(0,0,0.05);
}
.banner{

	background-color: #fff;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
	height:85vh;
	width: 85vw;
	margin: auto;
	border-radius: 12px;
	
}
.banner{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.banner-wrap{
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.type{
	border-radius: 0 12px 12px 0;
}
.banner-intro{

	display: flex;
	justify-content: center;
	
	flex-direction: column;
	width: 350px;
	
}

.header2{
	font-style: italic;
	font-weight: normal;
	color: #80868b;
	margin-bottom: 1rem;

}

.btn1{
	font-size: 2rem;
	margin-right: 2rem;
	background-color: #07abeb ;
	padding: .2rem;
	padding-left: .6rem;
	padding-right: 0.6rem;
	color: #fff;
	border-radius: 10px;
	border: 2px solid #07abeb;
	

}
.btn1:hover{
	box-shadow: 0 0 10px 0 rgb(0,0,0.01)
}
.btn2{
	font-size: 2rem;
	margin-right: 2rem;
	padding: .2rem;
	padding-left: .6rem;
	padding-right: 0.6rem;
	color: #07abeb;
	border-radius: 10px;
	border: 2px solid #07abeb;
}
.btn2:hover{
	box-shadow: 0 0 10px 0 rgb(0,0,0.01)
}
.banner-image{
	display: flex;
	align-items: center;
	justify-content: center;
}


.about-header{
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-header>h1{
	font-size: 3.5rem;
	font-weight: bold;
	color: #80868b;
}
.about-container{
	box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
	background-color: #fff;
	width: 85vw;
	padding-bottom: 4rem;
	margin:auto;
	margin-top: 1.1rem;
	border-radius: 15px;
}
.about-container{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.about-container-header{
	font-size: 2.3rem;
	margin-top: 2rem;
	color: #07abeb;
	font-weight: bold;
	text-align: center;

}
.about-container-cards{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80%;

}
.about-container-card{
	margin-top:2rem;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 350px;
	height: 350px;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.25);
	border-radius: 20px;

}
.about-container-card>img{
	width: 70px;
	height: 70px;
	margin-top: 2rem;
}
.card1{
	margin-right: 40px;
}
.card-title{
	color: #177bc9;
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: .5rem;
}
.card-paragraph{
	font-size: 1.2rem;
	text-align: center;
	color: #000;
	font-weight: 530;
}
	.services{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

		.service-header{
			margin-top: 6rem;
			font-size: 3.5rem;
	font-weight: bold;
	color: #80868b;
		}
.service-subheader{
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: .5rem;
	text-align: center;margin-bottom: 2rem;
}
.service-cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	grid-row-gap: 2rem;
	width: 95vw;
	
}
.service-card{
	background-color: #fff;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
	width: 230px;
	height: 230px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
	margin: auto;

}
.service-card>img{
	width: 120px;
	height: 120px;
}
.service-card>h3{
	font-size: 1.5rem;
	font-weight: bold;
}
.service-card>p{
	font-size: 1.3rem;
	font-weight: medium;
}
#ex{
	line-height: 1rem;
}
.contact{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.contact-address img{
height: 80px;
	width: 80px;
}
.contact-social img{

   height: 60px;
	width: 60px;
}
.contact-header{
	font-size: 3.5rem;
	font-weight: bold;
	color: #80868b;
	margin-top: 4rem;
}
.contact-address>div{
	display: flex;
	align-items: center;
}
.contact-social{
	display: flex;
	align-items: center;
	justify-content: center;

}
.contact-container{
	margin-top: 3rem;
	background-color: #fff;
	box-shadow: 0 0 25px  rgba(0,0,0,0.25);
	width: 85vw;
	margin-bottom: 5rem;
	padding: 3rem;
	border-radius: 12px;
}
.contact-social>a{
	margin: 1rem;
	cursor: pointer;
}
.contact span{
	font-weight: bold;
	margin-left: .5rem;
}
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container-contact>div{
	margin-top: 2rem;
}

.contact-social>a:hover{
	box-shadow: 0 0 15px rgba(0,0,0,0.25);
	border-radius: 10px;
	
}
@media (max-width: 1130px){
	.typed>span{
		font-size: 3rem;
	}

}
@media (max-width: 980px){
	.typed>span{
		font-size: 2.5rem;
	}
	.typed>div{
		font-size: 2.5rem;
	}.typed>h2{
		font-size: 2.3rem;
	}
	.banner-intro{
		margin-left: 2rem;
	}
}
@media(max-width: 770px){
	.nav-link{
		margin-left: 1.5rem;
	}
	
	.typed>span{
		font-size: 2rem;
	}
	.typed>div{
		font-size: 2rem;
	}.typed>h2{
		font-size: 2.3rem;
	}
}
@media(max-width: 880px){
	.type{

	width: 85vw;
		border-radius: 0 0 12px 12px;
	}

	.banner{
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
	}
}
@media(max-width: 760px){
	.service-cards{
		grid-template-columns: 1fr 1fr;
	}
	.card1{
		margin-right: 0;
	}
}
@media(max-width: 700px){
	.nav-link{
		margin-left: 1rem;
	}
	.about-container-cards{flex-direction: column;
	}
	.about-container-card{
		width: 90%;
	}
}
@media(max-width: 670px){
	.nav-link{
		padding: 0;
	}
}
@media(max-width: 560px){
	.about-header>h1{
		font-size: 3rem;
	}
	.about-container-header{
		font-size: 2rem;
	}
	.service-header{
		font-size: 3rem;
	}
	.contact-header{
		font-size: 3rem;
	}
}
@media(max-width: 510px){
	.service-cards{
		grid-template-columns: 1fr;
	}
	.service-card{
		width: 280px;
		height: 280px;
	}
}
@media (max-width: 450px){

.type>div{	font-style: italic;
	font-size: 2rem;
	
}
.type>span{

	font-size: 2rem;


}
.type>i{

	font-size: 1.5rem;
}
.type>h4{
	font-size: 1.5rem;
	
	
}
.type>h2{
	
font-size: 2rem;

}
.type>h3{
	font-size: 2rem;
	
}
.contact-address h3{
	font-size: 1.2rem;
}
.contact-header{
	text-align: center;
}
}
@media(max-width: 390px){
	.header1{
		font-size: 2rem;
	}
	.header2{
		font-size: 1.4rem;
		width: 60%;
	}
	.btn1{
		font-size: 1.7rem;
		margin-right: .5rem;
	}
	.btn2{
		font-size: 1.7rem;
	}
}